*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
!/target/*.jar
*.war
*.jar
*.ear
*Thumbs.db
font_gputest1.rft
font_gputest12.rft
font_gputest2.rft
font_gputest3.png
VBO_Example.java

/target/
!/target/*.jar
/backups/
/Resources_and_Videos/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/